<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="format-detection" content="email=no">
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Expires" content="0" />
  <title>全屏云视代 融竞犇新篇</title>
  <script>
    //rem
    (function (doc, win) {
      var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
          var clientWidth = docEl.clientWidth;
          if (!clientWidth) return;
          if (clientWidth >= 1080) {
            docEl.style.fontSize = '100px';
          } else {
            docEl.style.fontSize = 100 * (clientWidth / 1080) + 'px';
          }
        };
      if (!doc.addEventListener) return;
      win.addEventListener(resizeEvt, recalc, false);
      doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
  </script>
  <script src="./js/jquery.min.js"></script>
  <script src="./js/layer_mobile/layer.js"></script>
  <script src="./js/util.js?v=20210404"></script>
  <script src="./js/vue.min.js"></script>
  <script src="https://res2.wx.qq.com/open/js/jweixin-1.6.0.js "></script>
  <script src="./js/share.js"></script>
  <link rel="stylesheet" href="./css/base.css">
  <link rel="stylesheet" href="./css/signup.css?v=20210405">
  <style>
    .page-wrap{
      max-width: 1080px;
    }
  </style>
</head>
<body>
  <div class="page-wrap signup-wrap" id="app" :style="{ height: bodyHeight + 'px' }">
    <div class="theme"></div>
    <div class="sign-form">
      <div class="form-item">
        <label class="lab" for="name">姓名</label>
        <div class="ipt-box">
          <input class="ipt" id="name" type="text" autocomplete="off" v-model="realname">
        </div>
      </div>
      <div class="form-item">
        <label class="lab" for="phone">电话</label>
        <div class="ipt-box">
          <input class="ipt" id="phone" type="text" autocomplete="off" v-model="mobile">
        </div>
      </div>
      <div class="form-item">
        <label class="lab" for="unit">单位</label>
        <div class="ipt-box">
          <input class="ipt" id="unit" type="text" autocomplete="off" v-model="company">
        </div>
      </div>
      <!-- <div class="form-item">
        <label class="lab" for="post">职位</label>
        <div class="ipt-box">
          <input class="ipt" id="post" type="text" autocomplete="off" v-model="position">
        </div>
      </div> -->
      <div class="form-item">
        <div class="btn" @click="signupSub">提交</div>
      </div>
    </div>
    
  </div>
  
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        openid: '',
        realname: '',
        mobile: '',
        company: '',
        position: '',
        bodyHeight: '100%'
      },
      created: function () {
        this.getOpenId()
      },
      mounted: function () {
        this.bodyHeight=document.documentElement.clientHeight
      },
      methods: {
        getOpenId(){
          this.openid = getOpenid()
        },
       
        signupSub: function(){
          var self = this;
          if (!self.realname) {
            layerMsg('请输入姓名');
            return;
          }
          if (!self.mobile) {
            layerMsg('请输入手机号');
            return;
          }
          if (!/^1\d{10}$/.test(self.mobile)) {
            layerMsg('请输入正确的手机号');
            return;
          }
          if (!self.company) {
            layerMsg('请输入单位');
            return;
          }
          let postData = {
            "openid": self.openid,
            "company": self.company,
            "mobile": self.mobile,
            "position": self.position,
            "realname": self.realname,
          }
          ajaxPost(
            apipath + '/aoc/api/app/aocuser/save', 
            JSON.stringify(postData),
            function (res) {
              console.log(res);
              if(res.status==200){
                window.location.href='./signupSuc.html'
              } else {
                layerMsg(res.msg);
              }
            },
            function (res) {
              console.log(res);
            }
          )
        },
        
      }
    })
  </script>
</body>
</html>